<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ion-view title="Account" class="has-tabs-top">
    <ion-content class="padding">
        <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
            <div class="tabs">
                <a class="tab-item active" href="javascript:void(0)">
                    <i class="icon ion-home"></i>
                    Test
                </a>
                <a class="tab-item" href="javascript:void(0)">
                    <i class="icon ion-star"></i>
                    Favorites
                </a>
                <a class="tab-item" href="javascript:void(0)">
                    <i class="icon ion-gear-a"></i>
                    Settings
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>

