<ion-view title="Friends">
    <ion-content class="padding">
        <div class="list list-inset">
            <form novalidate name="searchForm">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="email" ng-keyup="$event.keyCode === 13 && searchForm.$valid && search(user)" ng-model="user" placeholder="Search by email" required>
                </label>
            </form>
        </div>
        <div ng-repeat="addFriend in addFriends">
            <div class="item item-avatar">
                <img ng-src="{{ addFriend.userPicture || './img/default_user.png' }}">
                <h2 ng-bind="addFriend.userName + ' - ' + addFriend.userEmail"></h2>
                <p ng-bind="addFriend.message"></p>
                <div>
                    <button ng-click="accept(addFriend)" style="width: 48.5%;" class="button button-small button-positive">
                        Accept
                    </button>
                    <button ng-click="reject(addFriend)" style="float: right;width: 48.5%;" class="button button-small button-assertive">
                        Reject
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar>
    <h4 class="title">Search Results</h4>
    <div class="buttons">
    <button class="button button-positive" ng-click='modal.hide()'>Close</button>
    </div>
    </ion-header-bar>
    <ion-content>
        <div ng-repeat="searchFriend in searchFriends">
            <a class="item item-avatar">
                <img ng-src="{{ searchFriend.picture || './img/default_user.png' }}">
                <h2 ng-bind="searchFriend.name + ' - ' + searchFriend.email"></h2>
                <p ng-bind="searchFriend.status"></p>
                <div ng-hide="currentUID===searchFriend.uid">
                    <button ng-click="sendRequest(searchFriend)" style="width: 48.5%;" class="button button-small button-assertive">
                        Send Request
                    </button>
                    <button ng-click="blockUser(searchFriend)" style="float: right;width: 48.5%;" class="button button-small button-positive">
                        Block User
                    </button>
                </div>
            </a>
        </div>
        <div class="card" ng-if="searchFriends.length==0">
          <div class="item item-text-wrap">
            <center>No results found for {{searchedUser}}</center>
          </div>
        </div>
    </ion-content>
    </ion-modal-view>
</script>
