<ion-view title="{{currentChatUser.name|| currentChatUser.email}}">
    <ion-content class="padding marginBottom50px">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>
        <div ng-repeat="message in messages">
            <div class="clearBoxShadow" ng-class="{'senderChat':message.sender == userInfo.email,'receiverChat':message.sender != userInfo.email}" class="card">
                <div ng-class="{'senderBoxShadow':message.sender == userInfo.email,'receiverBoxShadow':message.sender != userInfo.email}" class="item item-text-wrap">
                    <span ng-bind="message.message"></span>
                </div>
                <p ng-class="{'senderTimeStamp':message.sender == userInfo.email,'receiverTimeStamp':message.sender != userInfo.email}" class="paddingTop4px">
                    <span ng-bind="message.timeStamp | date:'medium'"></span>
                    <span class="msgSent" ng-if="message.isSent && !message.isReceived && !message.isRead">(S)</span>
                    <span class="msgDelivered" ng-if="!message.isSent && message.isReceived && !message.isRead">(D)</span>
                    <span class="msgRead" ng-if="!message.isSent && !message.isReceived && message.isRead">(R)</span>
                </p>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer chatFooter">
        <div class="title">
            <input ng-keyup="$event.keyCode === 13 && newMessage.length && send(newMessage)" ng-model="newMessage" type="text" placeholder="Type a Message to Send..." style="width:85%" required/>
        </div>
        <button ng-click="send(newMessage)" class="button button-positive" ng-disabled="!newMessage.length">Send</button>
    </div>
</ion-view>
