/* Empty. Add your own CSS if you like */

.bar{
    height: 49px;
}

.sidebarheaderalign .title{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.bar .title{
    top:3px;
}

.card, .list-inset {
    overflow: visible !important;
}

.capitalize{
    text-transform: capitalize;
}